streamlit==1.42.0
opencv-python-headless==4.8.1.78
numpy==1.26.3
moviepy==1.0.3
openai-whisper==20231117
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
yt-dlp==2023.12.30
Pillow==10.2.0
python-magic==0.4.27
typing-extensions==4.9.0
scipy==1.11.4
tqdm==4.66.1
more-itertools==10.2.0
requests==2.31.0
python-multipart==0.0.9
httpx==0.26.0
imutils==0.5.4
